{% extends 'profile.html' %}
{% block title %}Painel - Alterar Senha{% endblock %}
{% block subcontent %}
<div class="row">
    <div class="col-md-12 mt-2 ">
        <h6 class="main-header font-weight-normal my-2">Alterar Senha</h6>
    </div>
</div>

<div class="col-md-12 mt-2">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="col alert alert-{{ category }} mx-1 my-3 p-1 text-center">
        <small class="text-dark"><strong>Atenção:</strong> {{ message }}</small>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('account_change_password')}}" method="post" class="form col-md-4 my-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="password" class="text-default">
                <small>Senha atual</small>
                <small>
                    <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                        title="Informe a sua senha atual."></i>
                </small>
            </label>
            {{ form.password(class="form-control form-control-sm",  maxlength=30) }}
            {% if form.password.errors %}
            <dl>
                {% for error in form.password.errors %}
                <dd><small class="text-danger">{{ error }}</small></dd>
                {% endfor %}
            </dl>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="new_password" class="text-default">
                <small>Nova senha</small>
                <small>
                    <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                        title="Recomendamos senhas alfanumericas (letras e ou números), contendo pelo menos seis caracteres."></i>
                </small>
            </label>
            {{ form.new_password(class="form-control form-control-sm",  maxlength=30) }}
            {% if form.new_password.errors %}
            <dl>
                {% for error in form.new_password.errors %}
                <dd><small class="text-danger">{{ error }}</small></dd>
                {% endfor %}
            </dl>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="new_password_r" class="text-default">
                <small>Confirmação nova senha</small>
                <small>
                    <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                        title="Digite novamente a mesma senha que você utilizou no campo Nova senha."></i>
                </small>
            </label>
            {{ form.new_password_r(class="form-control form-control-sm",  maxlength=30) }}
            {% if form.new_password_r.errors %}
            <dl>
                {% for error in form.new_password_r.errors %}
                <dd><small class="text-danger">{{ error }}</small></dd>
                {% endfor %}
            </dl>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" value="Confirmar" class="btn btn-danger btn-sm">
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function () {
    // enable tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
});
</script>
{% endblock %}