{% extends 'profile.html' %}
{% block title %}Painel - Alterar Número Pessoal{% endblock %}
{% block subcontent %}
<div class="row">
    <div class="col-md-12 mt-2 ">
        <h6 class="main-header font-weight-normal my-2">Alterar Número pessoal</h6>
    </div>
</div>

<div class="col-md-12 mt-2">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="col alert alert-{{ category }} mx-1 my-3 p-1 text-center">
        <small class="text-dark"><strong>Atenção:</strong> {{ message }}</small>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('account_change_pid')}}" method="post" class="form col-md-4 my-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="personalid" class="text-default">
                <small>Nº Pessoal atual</small>
                <small>
                    <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                        title="Informe seu número pessoal atual."></i>
                </small>
            </label>
            {{ form.personalid(class="form-control form-control-sm",  maxlength=8) }}
            {% if form.personalid.errors %}
            <dl>
                {% for error in form.personalid.errors %}
                <dd><small class="text-danger">{{ error }}</small></dd>
                {% endfor %}
            </dl>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="new_personalid" class="text-default">
                <small>Novo Nº Pessoal</small>
                <small>
                    <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                        title="Digite um número com 8 dígitos que serão utilizados no jogo para: deletar
                        personagens, sair de um guild ou deletar uma guild."></i>
                </small>
            </label>
            {{ form.personalid_new(class="form-control form-control-sm",  maxlength=8) }}
            {% if form.personalid_new.errors %}
            <dl>
                {% for error in form.personalid_new.errors %}
                <dd><small class="text-danger">{{ error }}</small></dd>
                {% endfor %}
            </dl>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="personalid_new_r" class="text-default">
                <small>Confirmação novo Nº Pessoal</small>
                <small>
                    <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                        title="Digite novamente os mesmos números que você utilizou no campo Novo Número pessoal."></i>
                </small>
            </label>
            {{ form.personalid_new_r(class="form-control form-control-sm",  maxlength=8) }}
            {% if form.personalid_new_r.errors %}
            <dl>
                {% for error in form.personalid_new_r.errors %}
                <dd><small class="text-danger">{{ error }}</small></dd>
                {% endfor %}
            </dl>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" value="Confirmar" class="btn btn-danger btn-sm">
        </div>
    </form>
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function () {
    // enable tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
});
</script>
{% endblock %}